#main-sidebar {
  background-color: #407394;
  left: calc(-130pt / 2);
}

#main-sidebar p {
  display: none;
}

/* Following rules apply when the class */
/* show-main-sidebar is applied to the canvas */
/* See script.js for more info */
.show-main-sidebar
#content-canvas {
  -webkit-transform: translateX(calc(130pt / 2));
  -moz-transform: translateX(calc(130pt / 2));
  -ms-transform: translateX(calc(130pt / 2));
  -o-transform: translateX(calc(130pt / 2));
  transform: translateX(calc(130pt / 2));
  
  -webkit-transform: translate3d(calc(130pt / 2), 0, 0);
  -moz-transform: translate3d(calc(130pt / 2), 0, 0);
  -ms-transform: translate3d(calc(130pt / 2), 0, 0);
  -o-transform: translate3d(calc(130pt / 2), 0, 0);
  transform: translate3d(calc(130pt / 2), 0, 0);
}

.show-main-sidebar
#main-sidebar p {
  display: inherit;
}
