
#search-filters button:visited {
    background-color: black;

}

#search-filters button{
    width: 50%;
    height: 100%;
    float: left;
    border-bottom-style: solid;
    border-width: thin;
    border-color:#407394;
}

#search-filters{
    width: 100%;
    height: 30%;
    float: left;
}

#search-pane {
    height: 20%;
    width: 100%;
}

#search-bottom {
    width: 99%;
    height: 70%;
    float: left;
    background-color: white;
    border-right-style: solid;
    border-right-color: #407394;
    border-right-width: thin;
        
}

#search-box {
     width: 80%;
    height: 100%;
    float: left;
}

#search-box input{
    width: 100%;
    height: 100%;
    float: left;
    border-width: 0px;
    padding-left: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
}
#search-box input:focus{
  outline: 0px;
}

#search-button {
     width: 20%;
    height: 100%;
    float: left;
}

#search-button img{
    width: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding-top: 50%;
}
